{% extends "MainApp/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'newpformat.css' %}">
<p>Pizza: {{ pizza }} </p>
<form method="POST">
    <ul>
        {% for t in toppings %}

        <p>-- {{ t.topping_name}} </p>

        {% endfor %}
    <br>
    </ul>
    <ul>
        {% for i in image %}
        <div class="col-md-4">
            <img src="{{ i.image.url }}" class="img-responsive" style="width: 30%; margin-right: 5px;" />
        </div>
        {% empty %}
        <p>No picture is given for {{pizza}}.</p>
        {% endfor %}
    </ul>
    
    <br><br> 
    <p style= "font-size:20px">Comments For {{pizza}} Pizza:</p>
    <br>   
    <ul>
        {% for c in addcomment %}
        <p>-- {{ c.text }} </p>

        {% empty %}
        <p> There are no comments for this pizza.</p>
        {% endfor %}
        
    </ul>

    <p><a href="{% url 'MainApp:comment' pizza.id %}">Add comment</a></p>
</form>
{% endblock content %}